@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 31, 45, 61;
  /* #1F2D3D */
  --background-start-rgb: 249, 252, 253;
  /* #F9FCFD */
  --background-end-rgb: 249, 252, 253;
  /* #F9FCFD */
}

body {
  color: #0F172A;
  background: #F8FAFC;
  /* Light App Background */
  min-height: 100vh;
}